---
name: posts
url: /posts
controller: PostsController
---

<a ui-sref="posts" ng-hide="params.id == undefined">&laquo; Back</a>
<div class="grid-block" ng-show="params.id == undefined">
  <div class="grid-content small-up-6">
    <h1>Posts <small><a href="#" ng-click="new()">New</a></small></h1>
  </div>
  <div class="grid-content small-up-6">
    <input type=text ng-model="searchText" placeholder="...Search"/>
  </div>
</div>
<h1 ng-hide="params.id == undefined">{{post.title}}</h1>
<hr>
<p ng-hide="params.id == undefined">{{post.content}}</p>

<div class="grid-block small-up-2 medium-up-4" ng-show="params.id==undefined">
  <div class="grid-content" ng-repeat="post in filteredPosts | filter:searchText">
    <div class="card">
      <div class="card-divider">
        <a href="#" ng-click="edit(post.id)">Edit</a><span ng-show="params.id == undefined"> | <a ui-sref="posts.show({id: post.id})">Show</a></span> | <a href="#" ng-click="destroy(post)">Delete</a>
      </div>
      <div class="card-section">
        <h4>{{ post.title }}</h4>
        <hr>
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
</div>

<zf-modal size="small" id="edit-posts" overlay="false" overlay-close="true">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Edit Post</div>
      <span zf-close class="left"><a href="#">Close</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem; padding-bottom: 1rem;">
      <form novalidate>
        <label>Title</label>
        <input type="text" name="title" ng-model="post.title" required/>
        <label>Content</label>
        <textarea name="content" ng-model="post.content"></textarea>
        <button class="button radius" type="submit" ng-click="update()">Post</button>
      </form>
    </div>
  </div>
</zf-modal>


<zf-modal size="small" id="new-posts" overlay="false" overlay-close="true">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">New Post</div>
      <span zf-close class="left"><a href="#">Close</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem; padding-bottom: 1rem;">
      <form novalidate>
        <label>Title</label>
        <input type="text" name="title" ng-model="post.title" required/>
        <label>Content</label>
        <textarea name="content" ng-model="post.content"></textarea>
        <button class="button radius" type="submit" ng-click="create()">Post</button>
      </form>
    </div>
  </div>
</zf-modal>


<zf-modal size="small" id="delete-posts" overlay="true">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Delete Post</div>
      <span zf-close class="left"><a href="#">Close</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem; padding-bottom: 1rem;">
      <p>Are you sure?</p>
      <a zf-close class="button" ng-click="destroyConfirm(post)">Yes</a>
      <a zf-close class="button" href="#">No</a>
    </div>
  </div>
</zf-modal>
